<div id="carouselAttractionControls" class="carousel carousel-dark slide" data-bs-ride="carousel">

  <!-- Slider contents -->
  <div class="carousel-inner">
    <% @attractions.each_with_index do |attraction, index| %>
      <%= render 'attraction', attraction: attraction, index: index %>
    <% end %>
  </div>

  <!-- Slider controls -->
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselAttractionControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselAttractionControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>      <span class="visually-hidden">Next</span>
  </button>
</div>
