<div class="show-container">
  <%# ---------start of flight details section---------   %>
  <div class="show-flight-container">
    <div class="show-flight-detail">
      <div class="show_image">
        <%= image_tag "finnair.png", :width => "350px" %>
      </div>
      <%# -------------inner flight content--------------- %>
      <div class="inner-flight-content">
        <div class="outbound_flight_details">
          <br>
          <div class="show-h3-font">
            Outbound Flight
          </div>
          <%# <div class = "show-p-font">
            Outbound Departure
          </div> %>
          <br>
          <b> Finnair</b>
          <br>
          <p>SIN - LHR</p>
          <i class="fa-solid fa-plane-departure"></i>
          <p >Departure: 20 Sept 2022 21:50</p>
          <i class="fa-solid fa-plane-arrival"></i>
          <p>Arrival: 21 Sept 2022 09:10</p>
        </div>
        <div class = "inbound">
          <div class="show-h3-font">
            Inbound Flight
          </div>
          <br>
          <%# <div class = show-p-font>
            <p>Inbound Departure</p>
          </div> %>
          <b>Finnair</b>
          <br>
          <p>LHR - SIN</p>
          <i class="fa-solid fa-plane-departure"></i>
          <p>Departure: 30 Sept 2022 18:10</p>
          <i class="fa-solid fa-plane-arrival"></i>
          <p>Arrival: 31 Sept 2022 18:55</p>
        </div>
      </div>
      <%# -------------end of inner flight content--------------- %>
    </div>
    <div class="show-card-container">
      <div class="show-card-price">
        <div class = "show-price-font">
          Estimated $1844
        </div>
        <div class="show-card-price-button">
          <% if session[:trip_data].nil? %>
            <%= link_to "#", target: '_blank' do %>
              <div class ="payment-button">
              <div class = "show-price-font">
                Make Payment
              </div>
            </div>
            <% end %>
          <% else %>
            <%= link_to "https://www.skyscanner.com.sg/transport/flights/#{session[:trip_data]['flights'][0]['outbound_destination_display_code']}/#{session[:trip_data]['flights'][0]['outbound_origin_display_code']}/#{session[:trip_data]['flights'][0]['outbound_arrival'].to_date.strftime('%y%m%d')}/#{session[:trip_data]['flights'][0]['outbound_departure'].to_date.strftime('%y%m%d')}", target: '_blank' do %>
              <div class ="payment-button">
              <div class = "show-price-font">
                Make Payment
              </div>
            </div>
            <% end %>
          <% end %>

          <div class="show-card-checkbox">
            <input type="checkbox">
            <label for="payment_made"> Tick if payment made</label><br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
