<div class = "show-container">
  <div class = "show-nav-section">
    <p><- Back</p>
  </div>
  <h1>You have chosen</h1>
<%# ---------start of flight details section---------   %>
    <div class = "show-flight-detail">
      <h2>Flight</h2>


    </div>
<%# ---------end of flight details section---------   %>
</div>
