.acc-header {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  // background-image: image-url("hotelone.jpeg");
  // background-size: cover;

  h1 {
    color: black;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
  }
}

.hotel-cards {
  width: 100%;
  padding: 12px;
  border: solid #fd5754 5px;
  box-shadow: 0 0 8px 0 #7c7c7c;
  background-color: white;
  border-radius: 20px;
  // margin-top: 20px;
}

.hotel-cards:hover {
  background-color: rgb(200, 200, 200);
}

.btn-red {
  background-color: #fd5754;
  border-radius: 40px;
  padding: 8px 40px;
  transition: opacity 0.3s ease;
  margin-top: 10px;
  color: white;
  a {
    text-decoration: none;
    color: white;
  }
}

.btn-primary {
  padding: 8px 70px;
  border-radius: 20px;
}

.checked {
  color: orange;
  margin-bottom: 12px;
}
