
.acc-header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  // background-image: image-url("hotairballoons.jpeg");
  // background-size: cover;



  h1 {
    color: black;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
  }
}
