#companion {
  background-color: #F96562;
  width: 100vw;
  height: 100vh;
  border-radius: 20px;
  overflow: hidden;
}

.class-details {
  margin-top:30px;
  width: 300px;
  margin: 0 auto;
  border-bottom: 1px solid black;
}

.created-companion {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  .companion-name {
    width: 150px;
  }

  .companion-age {
    width: 50px;
    margin-left: 10px;
  }

  .companion-name, .companion-age {
    border: 1px solid red;
    height: 40px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 20px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.home-button-companion {
  height: 30px;
  width:fit-content;
  padding-top: 25px;
  margin-left: 15px;

  a {
    //border: 1px solid red;
    font-size: 20px;
    color: white;
    text-decoration: none;
  }
}


.createtrip-companion-container {
  top: 50px;
  //border: 1px solid blue;
  background-color: white;
  border-radius: 40px;
  width: 100%;
  height: 80%;
  position: relative;

  h2 {
    padding-top: 20px;
    font-size: 30px;
    padding-bottom: 20px;
  }

  .name-input {
    width: 200px;
    border-radius: 15px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    height: 40px;
  }

  .age-input {
    width: 80px;
    border-radius: 15px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    height: 40px;
  }

  .companion-submit {
    margin-top: 30px;
    height: 50px;
    width: 200px;
  }
}

.traveller-detail {
  margin: 10px auto;
}

.wrapper-companion-field{

  .add-field-button{
    margin-left: 15px;
  }
}

.companion-addtraveller-button {
 border: 1px solid red;
 border-radius: 40px;
 color:white;
 background-color: #F96562;
 margin-bottom: 30px;
 margin-left: auto;
margin-right: auto;
width: 200px;
height: 30px;
}

.companion-buttons {
  display: flex;
  flex-direction: column;
}

.companion-submit-button {
  width: 200px;
  text-decoration: none;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F96562;
  height: 40px;
  border-radius: 40px;
  margin: 0 auto;
  font-size: 20px;

  a:hover {
    background-color: #1500F7;
    color: white;
  }
}
