
.trip-step {
  //border: 1px solid black;;
  position: absolute;
  height: 70%;
  width: 80%;
  left: 23%;
  top: 30px;
  bottom: 10%;
  margin-left: -50px;
  margin-right: -50px;
  //margin-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: scale(1.5);
  opacity: 0;
  pointer-events: none;
  transition: 300ms;

    input {
      width: 180px;
      height: 40px;
      border-radius: 15px;
      margin-bottom: 10px;
      box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    }

    h2 {
      text-align: center;
      margin-bottom: 30px;
      margin-top: 20px;
    }

    &.active {
      transform: scale(1);
      opacity: 1;
      pointer-events: all;
    }
    .img-oneway{
      margin-top: 10px;
    }
}

.form-select {
  border-radius: 40px;
}


.createtrip-flighttype {
  .back-button {
    margin-top: 50px;
    width: 100px;
    height: 40px;
    background-color: #F96562;
    color: white;
    border-radius: 40px;

    &:hover {
    background-color: white;
    color: #F96562;
    }
  }

  .rtflight-button1, .rtflight-button2 {
    background-color: white;
    border-radius: 40px;
    color: #F96562;
    font-weight: bold;
    border: 2px solid #F96562;
    width: 140px;
    height: 50px;
    margin: 0 15px;
  }
}

.main-buttons {
  margin-top: 30px;
  .next-button {
    border-radius: 40px;
    margin-left: 15px;
    width: 100px;
    height: 40px;
    background-color: #F96562;
    color: white;

    &:hover {
    background-color: white;
    color: #F96562
    }
  }

   .back-button {
    margin-right: 15px;
    width: 100px;
    height: 40px;
    background-color: #F96562;
    color: white;
    border-radius: 40px;

    &:hover {
      background-color: white;
    color: #F96562
    }

    a {
      color: white;
      text-decoration: none;
      color: #F96562;
      &:hover {
        color: white;
      }
    }
  }
}

.newtrip-container {
  //border: 1px solid red;
  background-color: #F96562;
  width: 100vw;
  height: 100vh;
  border-radius: 20px;
  overflow: hidden;

}

.back-home-button {
  //border: 1px solid black;
  height: 40px;
  width:fit-content;
  padding-top: 30px;
  margin-left: 15px;

  a {
    //border: 1px solid red;
    text-decoration: none;
    font-size: 20px;
    color: white;
  }
}


.newtrip-second-container {
  top: 65px;
  //border: 1px solid blue;
  background-color: white;
  border-radius: 40px;

  margin: auto;
  width: 100%;
  height: 75%;
  position: relative;
}

// -------- FLIGHT TYPE ------- //

.flight-buttons {
  display: flex;
  justify-content: center;
  align-items: space-around;
  margin-top: 0px;
  margin-bottom: 20px;
}

.rtflight-button1,
.rtflight-button2 {
  cursor: pointer;
  transition: all 0.5s;

  .span1,
  .span2 {
    cursor: pointer;
    transition: 0.5s;
    display: inline-block;
    position: relative;
  }
}

.rtflight-button1 .span1:after,
.rtflight-button2 .span2:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 5;
  right: -30px;
  transition: 0.5s;
}

.rtflight-button1:hover .span1,
.rtflight-button2:hover .span2 {
  padding-right: 25px;
}

.rtflight-button1:hover,
.rtflight-button2:hover {
  .span1:after,
  .span2:after {
    opacity: 1;
    right: 10px;
    color: #22C600
  }
}

// ------ SUBMIT BUTTON ---- //

.submit-button {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 100px;

  .back-button {
    width: 110px;
    background-color: #F96562;
    color: white;
    margin: 20px 15px;
    border-radius: 40px;
  }

  .submit-trip {
    background-color: #F96562;
    color: white;
    border: none;
    width: 160px;
    height: 50px;
    border-radius: 40px;
    margin-top:20px;
  }
  .submit-trip:hover {
    background-color: #22C600;
    color: white;
  }
}

.submit-trip:link .submit-trip:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: absolute;
}

.submit-trip:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.submit-trip:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: black;
  color: black;
}

.submit-trip::after {
    content: "";
    display: inline-block;
    height: 50%;
    width: 50%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #F96562;
}

.submit-trip:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  animation: moveInBottom 1s ease-out;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
