.trip-step {
  position: absolute;
  height: 400px;
  width: 500px;
  left: 10%;
  margin-left: -50px;
  top: 20%;
  margin-top: -50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: scale(1.5);
  opacity: 0;
  pointer-events: none;
  transition: 300ms;

  input {
    width: 250px;
    height: 50px;
    border-radius: 50rem;
    margin-bottom: 20px;
  }
  h2 {
    text-align: center;
    margin-bottom: 30px
  }

  &.active{
    transform: scale(1);
    opacity: 1;
    pointer-events: all;
  }

}

.createtrip-flighttype {
  .back-button {
    margin-top: 50px;
    width: 110px;
    border: 1px solid #FE5754;
    color: #FE5754;

    &:hover {
    background-color: #FE5754;
    color: white
    }
  }

  .rtflight-button {
    background-color: #FE5754;
    color: white;
  }
}

.main-buttons {
  .next-button {
    margin-left: 15px;
    width: 110px;
    border: 1px solid #FE5754;
    color: #FE5754;

   &:hover {
    background-color: #FE5754;
    color: white
  }
  }

  .back-home-button, .back-button {
    margin-right: 15px;
    width: 110px;
    color:#FE5754;
    border: 1px solid #FE5754;

    &:hover {
      background-color: #FE5754;
      color: white
    }

    a {
      color: white;
      text-decoration: none;
      color: #FE5754;

      &:hover {
        color: white
      }
    }
  }
}

.newtrip-container {
  width: 100vw;
  height: 100vh;
}

.newtrip-second-container {
  border: 1px solid black;
  margin: 0 auto;
  width: 500px;
  height: 100%;
  position: relative;
}

.flight-buttons {
  display: flex;
  justify-content: center;
  align-items: space-around;
  margin-top: 20px;

  button {
    border-radius: 50rem;
    width: 150px;
    height: 50px;
    margin: 0 15px;
  }
}

.submit-button {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;

  .submit {
    border-radius: 50rem;
    width: 150px;
    height: 50px;
    margin-bottom: 20px;
    background-color: #FE5754;
    color: white;
    border: none;
  }

  .back-button {
    width: 110px;
    color:#FE5754;
    border: 1px solid #FE5754;
    margin: 0 15px;
  }
}

.traveller-detail {
  display: flex;
  justify-content: space-between;
}
