.trip-step {
  position: absolute;
  width: 300px;
  height: 50%;
  left: 100px;
  top: 50px;
  transform: scale(1.5);
  opacity: 0;
  pointer-events: none;
  transition: 300ms;

  &.active{
    transform: scale(1);
    opacity: 1;
    pointer-events: all;
  }
}

.newtrip-container {
  width: 100vw;
  height: 100vh;
}

.newtrip-second-container {
  border: 1px solid black;
  margin: 0 auto;
  width: 500px;
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;

}


.createtrip-budget {
  margin: 20px auto;
  background-color: red;
}

.createtrip-flight {
  margin: 20px auto;
  background-color:blue;

}

.createtrip-companion {
  margin: 20px auto;
  background-color: green;
}

.createtrip-flighttype {
  margin: 20px auto;
  background-color: yellow;
}

.createtrip-flightdate {
  background-color: palevioletred;
  margin: 20px auto;
}

.createtrip-oneway {
  background-color: brown;
  margin: 20px auto;
}

.btn.btn-warning {
  width: 50px;
  height: 50px;
  left: 100px;
}

.traveller-detail {
  display: flex;
  justify-content: space-between;
}

.main-buttons {
  display: flex;
  flex-direction: row

}
