.acc-content {
  margin-top: 50px;
}

.flight-cards {
  width: 100%;
  padding: 12px;
  border: solid #fd5754 5px;
  box-shadow: 0 0 8px 0 #7c7c7c;
  background-color: white;
  border-radius: 20px;
}

.card-focus {
  //background-color: blue !important
  border-color: #34e0a1;
  .btn-primary {
    background-color: #34e0a1 !important;
  }
}
