.acc-content {
  margin-top: 50px;
}

.flight-cards {
  width: 100%;
  padding: 12px;
  border: solid #FD5754 5px;
  box-shadow: 0 0 8px 0 #7C7C7C;
  background-color: white;
  border-radius: 20px;
}


.card-focus {
  //background-color: blue !important
  border-color: #34E0A1;
  .btn-primary {
    background-color: #34E0A1 !important;
  }
}

.back-home-button2 {
  //border: 1px solid black;
  height: 20px;
  width: fit-content;
  padding-top: 10px;
  margin-left: 15px;
  a {
    //border: 1px solid red;
    text-decoration: none;
    font-size: 20px;
    color: black;
  }
}
