// Import page-specific CSS files here.
@import "home";
@import "accommodation";
@import "create_trip";
@import "dashboard";
@import "activities";
@import "card";
@import "arrow";
@import "flight";
@import "create_companion";
@import "session";
@import "signup";
@import "show";
@import "flip-card-back";

p {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-family: "Poppins", sans-serif;
}

h2 {
  font-family: "Poppins", sans-serif;
}

h4 {
  font-family: "Poppins", sans-serif;
}

h6 {
  font-family: "Poppins", sans-serif;
}

h3 {
  font-family: "Poppins", sans-serif;
}
