// ----start of flight----
.show-flight-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-start;
	align-content: stretch;
  border: solid #FD5754 5px;
  margin: 5px;
  border-radius: 10px;
}


.show-flight-price{
  border-radius: 10px;
  border: solid;
  margin-top: 5px;
  margin-right: 5px;
}

// ----end of flight----

// ----start of accomodation----

.show-accomodation-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-start;
	align-content: stretch;
  border: solid #FD5754 5px;
  margin: 5px;
  border-radius: 10px;
}


.show-accomodation-price {
  border-radius: 10px;
  border: solid;
  margin-top: 5px;
  margin-right: 5px;
}

// ----end of accomodation----

// ----start of activity----
.show-activity-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-start;
	align-content: stretch;
  border: solid #FD5754 5px;
  margin: 5px;
  margin-top: 5px;
  margin-right: 5px;
  border-radius: 10px;
}


.show-activity-price {
  border-radius: 10px;
  border: solid;
  margin-top: 5px;
  margin-right: 5px;
}

// ----end of activity----

.show-p-font p {
font-size: 15px;
font-weight:600;
}

.show-h3-font p {
  font-size: 18px;
  font-weight:600;
  }

.payment-button {
  border-color: #FD5754;
  background-color: #FD5754;
  color: white;
  padding: 1px;
  border-radius: 2px;
}
