// ----start of flight----
.show-flight-container {
	// display: flex;
	// flex-direction: row;
	// flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-start;
	align-content: stretch;
  border: solid #FD5754 5px;
  margin: 10px;
  border-radius: 10px;

}


.show-flight-price{
  border-radius: 10px;
  border:dotted;
  margin-top: 5px;
  margin-right: 5px;
  width:250px;
}

.show-card-container {
  width: 100%;
  display: flex;
  justify-content: center;

}

.show-card-price {
  border-radius: 10px;
  border: dotted;
  margin: 8px 0px;
  padding: 4px 8px;
  // font-size: 14px;
  width:80%;
}

.show-card-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;

  input {
    margin-top: 0px;
    margin-right: 8px;
  }
}

.payment-button {
  border-color: #FD5754;
  background-color: #FD5754;
  color: white;
  margin-bottom: 8px;
  border-radius: 40px;
  font-size: 15px;
  text-align: center;
}

.show-card-price-button {

  a {
    text-decoration: none;
  }
}

.show-price-font {
  font-size: 16px;
  font-weight: 600;
  padding: 8px;
}

// ----start of accomodation----

.show-accomodation-container {
	// display: flex;
	// flex-direction: row;
	// flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-start;
	align-content: stretch;
  border: solid #FD5754 5px;
  margin: 10px;
  border-radius: 10px;
}


// ----end of accomodation----

// ----start of activity----
.show-activity-container {
	// display: flex;
	// flex-direction: row;
	// flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-start;
	align-content: stretch;
  border: solid #FD5754 5px;
  margin: 10px;
  // margin-top: 5px;
  // margin-right: 5px;
  border-radius: 10px;
}


.show-activity-price {
  border-radius: 10px;
  border: dotted;
  margin-top: 5px;
  margin-right: 5px;
  width:250px;
}

// ----end of activity----

.show-p-font {
font-size: 15px;
font-weight:500;
}

.show-h3-font {
  font-size: 18px;
  font-weight:600;
  color:#0b638f
  }



.show-title {
  margin-top: 20px;
  font-size: 20px;
  font-weight:600;
  text-align: center;
  color: rgb(52, 52, 52);
}

// TO NEST THIS INSIDE A PARENT DIV OR RENAME IT
// input {
//   width: 20px;
//     height: 20px !important;
// }



.button-for-back-to-dashboard {
  border-radius: 200px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.btn-traveller {
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.show_image {
  display: flex;
  justify-content: center;
  align-items: center;
}
// -------------inner flight content---------------
.inner-flight-content {
  padding-left: 10px;
  padding-right: 10px;
}
// -------------inner flight content---------------

.fa-solid {
  font-size: 30px;
  color: #FD5754;
}
