
body#signup-page{
  background-color: #ACA7A6
}
.img-signup {
  margin-bottom: 20px;
}

.background-signup{
  width: 450px;
  height: 530px;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
  }
.background-signup .shape-signup{
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
}
.shape-signup:first-child{
  background: linear-gradient(
  #FE5754,
  #FE5754
);
  left: 350px;
  top: -90px;
  // color:1845ad,
//color:23a2f6
}
.shape-signup:last-child{
  background: linear-gradient(
  to right,
  #FE5754,
  #FE5754,
);
  right: 360px;
  bottom: -85px;
}
.form-signup{
  height: 650px;
  width: 400px;
  background-color: rgba(255,255,255,0.13);
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  //rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
  padding: 20px 35px;

  a {
    text-decoration: none;

  }
}
.form-signup *{
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none

}
  .form-signup-signup h3{
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

label{
  display: block;
  font-size: 16px;
  font-weight: 500;
}

.form-inputs-signup {
  input {
    border-radius: 30px;
  }
}

input{
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255,255,255,0.07);
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}

::placeholder{
  color: #e5e5e5;
}

// ------ ICONS -------- //

.social-icons {
  margin-top: 30px;
  display: flex;
}
.social-icons a{
  width: 80px;
  margin: 0 auto;
  color: #eaf0fb;
  text-align: center;
}
.social-icons .fb{
  margin-left: 25px;
}

.fa-google:hover, .fa-facebook:hover, .fa-github:hover {
  color: #FE5754,
}
.social-icons .git {
  margin-left: 25px;
}
.social-icons i{
  margin-right: 4px;
}

.signup-link {
  text-align: center;
  margin-top: 20px;
  :hover {
    color: #FE5754,;
  }

}

// ------ LOG IN BUTTON ---- //

.form-actions-signup {
  .signup-submit-button {
    width: 100%;
    background-color: #FE5754;
    color: white;
    padding: 0 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 30px;

    &:hover {
      background-color: white;
      color: #FE5754
    }
  }
}
