<nav id="navigation">
  <a href="#" class="logo">Howliday<span>+<span></a>
  <ul class="links">
    <li><a href="#">Dashboard</a></li>
    <li class="dropdown"><a href="#" class="trigger-drop">Profile<i class="arrow"></i></a>
      <ul class="drop">
        <li><a href="#">Message</a></li>
      </ul>
    </li>
    <li class="dropdown"><a href="#" class="trigger-drop">Log out<i class="arrow"></i></a>
      <%# <ul class="drop">
        <li><a href="#">Email</a></li>
        <li><a href="#">Phone</a></li>
      </ul> %>
    </li>
  </ul>
</nav>
