<div class="chat-container text-center p-3">
  <h1>Live Feed</h1>
  <h6>Check out what's happening live in these cities!</h6>

  <% chats = @chats.sort_by { |hash| hash[:name] } %>
  <% chats.each do |chat| %>
      <ul class="list-group">
        <li class="message-card list-group-item d-flex justify-content-between">
          <%= link_to "#{chat.name}", chat_path(chat) %>
        </li>
      </ul>
  <% end %>
</div>
