<div class="chatroom"
data-controller="chat-subscription"
data-chat-subscription-chat-id-value="<%= @chat.id %>">
  <h1>#<%= @chat.name %></h1>

  <div class="messages" data-chat-subscription-target="messages">
    <% @chat.messages.each do |message| %>
      <%= render "messages/message", message: message %>
    <% end %>
  </div>

  <%= render "form" %>
  <%# render simple form %>
</div>
