<div class="carousel-item <%= 'active' if index.zero? %>">
  <div class="row px-1 mt-4 rounded px-4 each_card_container py-4 mx-3 rounded-4">
    <div class="col-6">
      <div class="image_avatar">
        <%= image_tag "julien_avatar", class: "avatar"%>
      </div>
    </div>
    <div class="col-6">
      <div class="d-flex">
        <div class="each_card_container_testimonial">
          <i>This is a testimonial, Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</i>
        </div>
      </div>
      <%# <button class="btn btn-primary w-100 h-3 traveller-button" type="submit">View iternary</button> %>
      <div class="traveller-button" type="submit">
        <p>View iternary</p>
      </div>
    </div>
  </div>
</div>
