
<div class="timeline-title">
<h1>Julien <span>iternary</span></h1>
</div>

<div class="container">

   <div class="timeline-block timeline-block-right">
      <div class="marker"></div>
      <div class="timeline-content">
         <h3>Grand Palace</h3>
         <span>Day 1</span>
         <p>The Grand Palace and Wat Prakaew command respect from all who have walked in their sacred grounds. </p>
      </div>
   </div>

   <div class="timeline-block timeline-block-left">
      <div class="marker"></div>
      <div class="timeline-content">
         <h3>Wat Pho</h3>
         <span>Day 2</span>
         <p>This iconic temple harbours a fascinating collection of murals, inscriptions and sculptures that delve into various subjects, from warfare to astronomy to archaeology. </p>
      </div>
   </div>

   <div class="timeline-block timeline-block-right">
      <div class="marker"></div>
      <div class="timeline-content">
         <h3>Chinatown (Yaowarat)</h3>
         <span>Day 3/span>
         <p>Bangkok's Chinatown is a colourful, exotic and pleasingly chaotic area, packed with market stalls and probably the highest concentration of gold shops in the city.</p>
      </div>
   </div>

   <div class="timeline-block timeline-block-left">
      <div class="marker"></div>
      <div class="timeline-content">
         <h3>Sky Bar Bangkok</h3>
         <span>Day 4</span>
         <p>Sky Bar boasts sweeping views from the top of  State Tower, one of Bangkok's tallest buildings.</p>
      </div>
   </div>

   <div class="timeline-block timeline-block-right">
      <div class="marker"></div>
      <div class="timeline-content">
         <h3>Chatuchak Weekend Market</h3>
         <span>Day 5</span>
         <p>Once only popular among wholesalers and traders, Chatuchak Weekend Market has reached a landmark status as a must-visit place for tourists.</p>
      </div>
   </div>
</div>
