<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://images.pexels.com/photos/5857863/pexels-photo-5857863.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);">
  <div class="container">
    <div class="banner_title">Howliday </div>
    <div class="banner_title">Plan your Holiday trip with ease</div>
    <a class="btn btn-success d-grid gap-2 col-6 mx-auto" href="#">Plan Vacation</a>
  </div>
</div>

<%# -----Traveller experience---- %>
<%= 4.times do %>
  <div class="row px-1 mt-4 rounded px-4 each_card_container py-4 mx-3">
    <div class="col-6">
      <%= image_tag "male_avatar", width:"100%"%>
    </div>
    <div class="col-6">
      <div class="d-flex">
        <div class="each_card_container_testimonial">
          <i>This is a testimonial, Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</i>
        </div>
      </div>
      <button class="btn btn-primary w-100 h-3 "  type="submit">View iternary</button>
      </div>
    </div>
  </div>
<% end %>





 <%# -----End Traveller experience---- %>
