<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://images.pexels.com/photos/3155666/pexels-photo-3155666.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);">
  <div class="container">
    <h1>Howliday </h1>
    <p>Plan your Holiday trip with ease</p>
    <a class="btn btn-flat" href="#">Plan Vacation</a>
  </div>
</div>

<%# -----Traveller experience---- %>

<div class="wrapper">
  <h1>Past Travellers iternary experience</h1>
  <div class="cols">
			<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front" style="background-image: url(https://images.pexels.com/photos/3225528/pexels-photo-3225528.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2)">
						<div class="inner">
							<p>Traveller 1</p>
              <span>Italy</span>
						</div>
					</div>
					<div class="back">
						<div class="inner">
						  <p>This is a trip review</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front" style="url(https://images.pexels.com/photos/6185777/pexels-photo-6185777.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2/)">
						<div class="inner">
							<p>Traveller 2</p>
              <span>Greece</span>
						</div>
					</div>
					<div class="back">
						<div class="inner">
							<p>This is a trip review.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front" style="background-image: url(https://images.pexels.com/photos/3889742/pexels-photo-3889742.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2/)">
						<div class="inner">
							<p>Traveller 4</p>
              <span>Europe</span>
						</div>
					</div>
					<div class="back">
						<div class="inner">
							<p>This is a trip review.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front" style="background-image: url(https://images.pexels.com/photos/2914152/pexels-photo-2914152.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2/)">
						<div class="inner">
							<p>Traveller 4</p>
              <span>India</span>
						</div>
					</div>
					<div class="back">
						<div class="inner">
							<p>This is a trip review.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
 </div>
 <%# -----End Traveller experience---- %>
