<div class="card border-0 mt-5 p-3" style="width: 18rem;">
  <%= image_tag "howliday_owl.png", :align => "middle", width:"100%" %>
  <div class="card-body">
    <p class="card-text text-center">Give us a moment to assemble your plan</p>
  </div>

</div>

<script>window.location.href="/trips/<%= params[:trip_id] %>/trip-generate"</script>
