<div class="dashboard">
  <h1><strong>Update Your Profile</strong></h1>
</div>

<div class="form">
  <div class="form-floating mb-3">
    <input type="name" class="form-control" id="floatingInput" placeholder="Name">
    <label for="floatingInput">Name</label>
  </div>
  <div class="form-floating">
    <input type="email" class="form-control" id="floatingEmail" placeholder="Email">
    <label for="floatingEmail">Email</label>
  </div>
  <div class="form-floating">
    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
    <label for="floatingPassword">Password</label>
  </div>
  <div class="form-floating">
    <input type="Address" class="form-control" id="floatingAddress" placeholder="Address">
    <label for="floatingAddress">Address</label>
  </div>
  <div class="form-floating">
    <input type="City" class="form-control" id="floatingCity" placeholder="City">
    <label for="floatingCity">City</label>
  </div>
</div>
