<%= simple_form_for([trip, companion], data: {
    create_companion_target: "form",
    action: "submit->create-companion#addtraveller"
    }) do |f| %>

  <div class="traveller-detail d-flex justify-content-around">
    <%= f.input :name, input_html: { class: "name-input" } %>
    <%= f.input :age, input_html: { class: "age-input" } %>
  </div>

  <div class="com-submit-button d-flex justify-content-center">
    <%= f.submit "Submit", class: "companion-submit btn btn-outline"%>
  </div>

<% end %>
