.traveler_card_img {
  width: 300px;
  height: 100px;
  padding-left: 10px;
  padding-top: 10px;

}

.each_card_container {

  border: solid #FD5754;
  border-radius: 100px;
  // width: auto;
  }

.each_card_container_testimonial {
  font-size: 15px;
  color: #3a3a3a;
}

.avatar {
  border-image-width: 5px;
}

.traveller_card_button {
  justify-content: flex-end;
}

.btn-primary {
  margin-top: 5px;
  background-color:#FD5754;
  width: 100px;
  height: 2.5rem;
  color: white;
  border-color: #FD5754;
  border-radius: 5px;
}




  // -----start of popup----





  // -----end of popup----
