

.traveler_card_img {
  width: 300px;
  height: 100px;
  padding-left: 10px;
  padding-top: 10px;

}

.each_card_container {

  border: solid #FD5754 5px;


  // background:url("avatar_background.jpg") center center/cover no-repeat;

  // width: auto;
  // background-image: url("avatar_background.jpg")center center/cover no-repeat;
  // background-attachment: fixed;
  // background-position: center;
  }

.each_card_container_testimonial {
  font-size: 15px;
  color: #3a3a3a;
  margin-right: 0px;
}

.avatar {
  border-image-width: 5px;
}

.traveller_card_button {
  justify-content: flex-end;
}

// .btn-primary {
//   margin-top: 5px;
//   background-color:#FD5754;
//   height: 2.5rem;
//   color: white;
//   border-color: #FD5754;
//   border-radius: 5px;
// }

.btn-traveller {
  background-color:#FD5754;
  height: 2.5rem;
  color: white;
  border-color: #FD5754;
  margin: 0 auto;

  &:hover {
    color: white;
    background-color:#da4240;
  }
}

.traveller-button {
  background-color:#FD5754;
  height: 2.5rem;
  color: white;
  border-color: #FD5754;
  margin: 0 auto;
  text-align: center;
  border-radius: 20px;
  font-size: 0.9rem;
  padding-top: 7px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.image_avatar {
  border-radius: 20px;
  -moz-box-shadow: 0px 6px 5px #ccc;
  -webkit-box-shadow: 0px 6px 5px #ccc;
  box-shadow: 0px 6px 5px #ccc;
  -moz-border-radius:190px;
  -webkit-border-radius:190px;
  border-radius:190px;
}


// .carousel-control-prev {
//   color: #da4240;
// }

// .visually-hidden{
//   color: #da4240;
// }

// .carousel-control-next {
//   color: #da4240;
// }

// .carousel-control-prev-icon{
//   color: #da4240;
// }

.carousel-control-next {
  margin-right: 2px;
  margin-left: 2px;
  padding-left: 2px;
  size: 2px;
}



// .carousel-control-prev-icon,
// .carousel-control-next-icon {
//   height: 100px;
//   width: 100px;
//   outline: black;
//   background-size: 100%, 100%;
//   border-radius: 50%;
//   border: 1px solid black;
//   background-image: none;
// }

.carousel-control-next-icon:after
{

  font-size: 30px;
  color:black;
}

.carousel-control-prev-icon:after {

  font-size: 30px;
  color:black;
}

.carousel-indicators {
  color:black;
}

.avatar {
  width: 135px;
  border-radius: 50%;
}

  // -----start of popup----





  // -----end of popup----
